# Analysis of loana_application

### Name : `Abdikafi Isse Isak`
### ID : `C120868`
### ClassNo : `CA205`

doc about loana application

In [1]:
import pandas as pd

In [10]:
loana = pd.read_csv('loanapplications.csv')
loana

,married,race,loan_decision,occupancy,loan_amount,applicant_income,num_units,num_dependants,self_employed,monthly_income,purchase_price,liquid_assets,mortage_payment_history,consumer_credit_history,filed_bankruptcy,property_type,gender
0,True,white,reject,1,128,74,1.0,1.0,False,4583,160.0,52.0,2,2,False,2,male
1,False,white,approve,1,128,84,1.0,0.0,False,2666,143.0,37.0,2,2,False,2,male
2,True,white,approve,1,66,36,1.0,0.0,True,3000,110.0,19.0,2,6,True,2,male
3,True,white,approve,1,120,59,1.0,0.0,False,2583,134.0,31.0,2,1,False,1,male
4,False,white,approve,1,111,63,1.0,0.0,False,2208,138.0,169.0,2,6,False,2,male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1983,True,white,approve,1,158,96,1.0,0.0,False,5000,176.0,15.0,2,1,False,2,male
1984,True,white,approve,1,35,169,1.0,0.0,False,9583,315.0,64.0,1,1,False,1,male
1985,True,white,approve,2,225,49,2.0,0.0,True,4159,225.0,10.0,2,1,False,3,male
1986,False,white,approve,1,98,110,1.0,0.0,True,9200,215.0,427.9,1,1,False,1,male
1987,False,black,reject,1,133,55,1.0,0.0,True,4583,148.0,24.5,2,3,False,2,female

In [11]:
# loana data shape of rows and columns
loana.shape

(1988, 17)

In [13]:
# here columns of loana data
loana.columns

Index(['married', 'race', 'loan_decision', 'occupancy', 'loan_amount',
       'applicant_income', 'num_units', 'num_dependants', 'self_employed',
       'monthly_income', 'purchase_price', 'liquid_assets',
       'mortage_payment_history', 'consumer_credit_history',
       'filed_bankruptcy', 'property_type', 'gender'],
      dtype='object')

In [15]:
# describes loana data as central measure like mode , median and mean and also describe as
# despersion of measure like quartiles => [Q1, Q2 , Q3] , range => [max , min] , standard deviation of loana data
loana.describe()

,occupancy,loan_amount,applicant_income,num_units,num_dependants,monthly_income,purchase_price,liquid_assets,mortage_payment_history,consumer_credit_history,property_type
count,1988.000000,1988.000000,1988.000000,1984.000000,1985.000000,1988.000000,1988.000000,1988.000000,1988.000000,1988.000000,1988.000000
mean,1.031690,143.272636,84.684105,1.122480,0.771285,5195.220825,196.304088,4620.333873,1.708249,2.110161,1.861167
std,0.191678,80.531470,87.079777,0.437315,1.104464,5270.360946,128.136030,67142.936043,0.555335,1.663256,0.535448
min,1.000000,2.000000,0.000000,1.000000,0.000000,0.000000,25.000000,0.000000,1.000000,1.000000,1.000000
25%,1.000000,100.000000,48.000000,1.000000,0.000000,2875.750000,129.000000,20.000000,1.000000,1.000000,2.000000
50%,1.000000,126.000000,64.000000,1.000000,0.000000,3812.500000,163.000000,38.000000,2.000000,1.000000,2.000000
75%,1.000000,165.000000,88.000000,1.000000,1.000000,5594.500000,225.000000,83.000000,2.000000,2.000000,2.000000
max,3.000000,980.000000,972.000000,4.000000,8.000000,81000.000000,1535.000000,1000000.000000,4.000000,6.000000,3.000000

In [17]:
# loana.isnull() shows as how many inside loana data columns are null
loana.isnull()

,married,race,loan_decision,occupancy,loan_amount,applicant_income,num_units,num_dependants,self_employed,monthly_income,purchase_price,liquid_assets,mortage_payment_history,consumer_credit_history,filed_bankruptcy,property_type,gender
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1983,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1984,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1985,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1986,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1987,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [19]:
# it`s means we have 24 fields of null, we must to fill missing values of these fields
loana.isnull().sum().sum()

24

In [21]:
loana

,married,race,loan_decision,occupancy,loan_amount,applicant_income,num_units,num_dependants,self_employed,monthly_income,purchase_price,liquid_assets,mortage_payment_history,consumer_credit_history,filed_bankruptcy,property_type,gender
0,True,white,reject,1,128,74,1.0,1.0,False,4583,160.0,52.0,2,2,False,2,male
1,False,white,approve,1,128,84,1.0,0.0,False,2666,143.0,37.0,2,2,False,2,male
2,True,white,approve,1,66,36,1.0,0.0,True,3000,110.0,19.0,2,6,True,2,male
3,True,white,approve,1,120,59,1.0,0.0,False,2583,134.0,31.0,2,1,False,1,male
4,False,white,approve,1,111,63,1.0,0.0,False,2208,138.0,169.0,2,6,False,2,male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1983,True,white,approve,1,158,96,1.0,0.0,False,5000,176.0,15.0,2,1,False,2,male
1984,True,white,approve,1,35,169,1.0,0.0,False,9583,315.0,64.0,1,1,False,1,male
1985,True,white,approve,2,225,49,2.0,0.0,True,4159,225.0,10.0,2,1,False,3,male
1986,False,white,approve,1,98,110,1.0,0.0,True,9200,215.0,427.9,1,1,False,1,male
1987,False,black,reject,1,133,55,1.0,0.0,True,4583,148.0,24.5,2,3,False,2,female

In [24]:
monthly_icome = loana['monthly_income']
monthly_icome

0       4583
1       2666
2       3000
3       2583
4       2208
        ...
1983    5000
1984    9583
1985    4159
1986    9200
1987    4583
Name: monthly_income, Length: 1988, dtype: int64

In [26]:
monthly_icome.sum()

10328099

In [27]:
monthly_icome.unique()

array([4583, 2666, 3000, ..., 8072, 4159, 9200], dtype=int64)

In [28]:
monthly_icome.isnull()

0       False
1       False
2       False
3       False
4       False
        ...
1983    False
1984    False
1985    False
1986    False
1987    False
Name: monthly_income, Length: 1988, dtype: bool

In [30]:
monthly_icome.isnull().sum().sum()

0

In [38]:
monthly_icome.value_counts()

2500     22
5000     19
3333     17
3500     15
7500     14
         ..
4408      1
3244      1
8596      1
29000     1
9200      1
Name: monthly_income, Length: 1349, dtype: int64

In [49]:
married = loana[loana['married'] == True ]
married

,married,race,loan_decision,occupancy,loan_amount,applicant_income,num_units,num_dependants,self_employed,monthly_income,purchase_price,liquid_assets,mortage_payment_history,consumer_credit_history,filed_bankruptcy,property_type,gender
0,True,white,reject,1,128,74,1.0,1.0,False,4583,160.0,52.0,2,2,False,2,male
2,True,white,approve,1,66,36,1.0,0.0,True,3000,110.0,19.0,2,6,True,2,male
3,True,white,approve,1,120,59,1.0,0.0,False,2583,134.0,31.0,2,1,False,1,male
7,True,white,approve,1,100,72,1.0,1.0,False,3234,99.7,24.5,2,1,False,2,male
8,True,white,approve,1,267,144,1.0,2.0,True,5417,422.0,111.0,1,1,False,2,male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1980,True,white,approve,1,253,90,1.0,1.0,False,8072,316.0,70.0,1,1,False,2,male
1981,True,white,approve,1,187,91,1.0,2.0,False,7583,325.0,130.0,2,1,False,2,male
1983,True,white,approve,1,158,96,1.0,0.0,False,5000,176.0,15.0,2,1,False,2,male
1984,True,white,approve,1,35,169,1.0,0.0,False,9583,315.0,64.0,1,1,False,1,male
1985,True,white,approve,2,225,49,2.0,0.0,True,4159,225.0,10.0,2,1,False,3,male

In [50]:
race = loana[ loana['race'] != 'white']
race

,married,race,loan_decision,occupancy,loan_amount,applicant_income,num_units,num_dependants,self_employed,monthly_income,purchase_price,liquid_assets,mortage_payment_history,consumer_credit_history,filed_bankruptcy,property_type,gender
14,True,black,approve,1,70,33,1.0,1.0,True,2800,78.0,10.0,2,1,False,1,male
25,True,black,approve,1,200,117,1.0,2.0,False,3073,250.0,83.5,1,5,False,2,male
28,True,hispan,approve,1,208,82,1.0,2.0,False,5000,260.0,14.0,1,1,False,2,male
33,False,black,reject,1,76,42,1.0,0.0,False,3510,80.0,8.0,2,6,False,2,female
34,False,black,approve,1,121,666,1.0,0.0,False,4706,161.0,46.0,2,1,False,1,female
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1964,True,black,approve,1,120,75,1.0,1.0,False,3304,120.0,252.5,1,2,False,2,male
1966,True,hispan,approve,1,99,64,1.0,1.0,False,2269,110.0,18.0,1,2,False,2,male
1972,True,hispan,approve,1,115,59,1.0,0.0,False,4158,130.0,45.0,2,1,False,2,male
1979,False,hispan,approve,1,104,42,1.0,0.0,False,3857,116.0,19.4,2,5,False,1,male
1987,False,black,reject,1,133,55,1.0,0.0,True,4583,148.0,24.5,2,3,False,2,female

In [53]:
# the peoples their races are  white
race_white = loana[loana['race'] == 'white']
race_white

,married,race,loan_decision,occupancy,loan_amount,applicant_income,num_units,num_dependants,self_employed,monthly_income,purchase_price,liquid_assets,mortage_payment_history,consumer_credit_history,filed_bankruptcy,property_type,gender
0,True,white,reject,1,128,74,1.0,1.0,False,4583,160.0,52.0,2,2,False,2,male
1,False,white,approve,1,128,84,1.0,0.0,False,2666,143.0,37.0,2,2,False,2,male
2,True,white,approve,1,66,36,1.0,0.0,True,3000,110.0,19.0,2,6,True,2,male
3,True,white,approve,1,120,59,1.0,0.0,False,2583,134.0,31.0,2,1,False,1,male
4,False,white,approve,1,111,63,1.0,0.0,False,2208,138.0,169.0,2,6,False,2,male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1982,False,white,approve,1,120,46,1.0,0.0,False,2340,160.0,47.0,2,4,False,2,male
1983,True,white,approve,1,158,96,1.0,0.0,False,5000,176.0,15.0,2,1,False,2,male
1984,True,white,approve,1,35,169,1.0,0.0,False,9583,315.0,64.0,1,1,False,1,male
1985,True,white,approve,2,225,49,2.0,0.0,True,4159,225.0,10.0,2,1,False,3,male
1986,False,white,approve,1,98,110,1.0,0.0,True,9200,215.0,427.9,1,1,False,1,male

In [55]:
# the peoples their races are hispan
race_hispan = loana[loana['race'] == 'hispan']
race_hispan

,married,race,loan_decision,occupancy,loan_amount,applicant_income,num_units,num_dependants,self_employed,monthly_income,purchase_price,liquid_assets,mortage_payment_history,consumer_credit_history,filed_bankruptcy,property_type,gender
28,True,hispan,approve,1,208,82,1.0,2.0,False,5000,260.0,14.0,1,1,False,2,male
47,True,hispan,reject,1,112,68,1.0,2.0,False,3365,118.0,9.0,3,6,False,2,male
52,False,hispan,approve,1,59,27,1.0,1.0,False,2226,66.0,11.0,2,2,False,1,female
54,False,hispan,approve,1,80,44,1.0,0.0,False,3685,101.0,34.0,2,1,False,1,male
67,True,hispan,approve,1,128,72,1.0,2.0,False,2202,160.0,62.0,3,6,True,2,male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1928,True,hispan,reject,1,205,72,2.0,2.0,True,6000,228.0,14.0,2,2,True,3,male
1950,True,hispan,approve,1,128,68,1.0,3.0,False,5703,135.0,7.0,2,1,False,2,male
1966,True,hispan,approve,1,99,64,1.0,1.0,False,2269,110.0,18.0,1,2,False,2,male
1972,True,hispan,approve,1,115,59,1.0,0.0,False,4158,130.0,45.0,2,1,False,2,male
1979,False,hispan,approve,1,104,42,1.0,0.0,False,3857,116.0,19.4,2,5,False,1,male

In [57]:
# the peoples their races are black
race_black = loana[ loana ['race'] == 'black']
race_black

,married,race,loan_decision,occupancy,loan_amount,applicant_income,num_units,num_dependants,self_employed,monthly_income,purchase_price,liquid_assets,mortage_payment_history,consumer_credit_history,filed_bankruptcy,property_type,gender
14,True,black,approve,1,70,33,1.0,1.0,True,2800,78.0,10.0,2,1,False,1,male
25,True,black,approve,1,200,117,1.0,2.0,False,3073,250.0,83.5,1,5,False,2,male
33,False,black,reject,1,76,42,1.0,0.0,False,3510,80.0,8.0,2,6,False,2,female
34,False,black,approve,1,121,666,1.0,0.0,False,4706,161.0,46.0,2,1,False,1,female
44,True,black,reject,1,116,62,1.0,0.0,False,2600,145.0,1.0,2,4,False,2,male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1948,True,black,approve,1,103,48,1.0,1.0,False,2872,127.0,12.0,2,5,False,1,male
1957,True,black,approve,1,60,74,1.0,0.0,False,2400,207.0,112.7,2,1,False,1,male
1959,False,black,reject,1,152,79,1.0,0.0,False,4000,190.0,39.0,2,1,False,2,male
1964,True,black,approve,1,120,75,1.0,1.0,False,3304,120.0,252.5,1,2,False,2,male
1987,False,black,reject,1,133,55,1.0,0.0,True,4583,148.0,24.5,2,3,False,2,female

In [68]:
print(f'The length people raced are white : {len(race_white)}\nThe length people raced are hispan : {len(race_hispan)}\nThe length people raced are black : {len(race_black)}')

The length people raced are white : 1680
The length people raced are hispan : 111
The length people raced are black : 197

In [62]:
# peoples approved loan decision
loan_decision_approved = loana[ loana ['loan_decision'] == 'approve']
loan_decision_approved

,married,race,loan_decision,occupancy,loan_amount,applicant_income,num_units,num_dependants,self_employed,monthly_income,purchase_price,liquid_assets,mortage_payment_history,consumer_credit_history,filed_bankruptcy,property_type,gender
1,False,white,approve,1,128,84,1.0,0.0,False,2666,143.0,37.0,2,2,False,2,male
2,True,white,approve,1,66,36,1.0,0.0,True,3000,110.0,19.0,2,6,True,2,male
3,True,white,approve,1,120,59,1.0,0.0,False,2583,134.0,31.0,2,1,False,1,male
4,False,white,approve,1,111,63,1.0,0.0,False,2208,138.0,169.0,2,6,False,2,male
5,False,white,approve,1,141,72,1.0,0.0,False,6000,157.0,38.0,2,1,False,1,male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1982,False,white,approve,1,120,46,1.0,0.0,False,2340,160.0,47.0,2,4,False,2,male
1983,True,white,approve,1,158,96,1.0,0.0,False,5000,176.0,15.0,2,1,False,2,male
1984,True,white,approve,1,35,169,1.0,0.0,False,9583,315.0,64.0,1,1,False,1,male
1985,True,white,approve,2,225,49,2.0,0.0,True,4159,225.0,10.0,2,1,False,3,male
1986,False,white,approve,1,98,110,1.0,0.0,True,9200,215.0,427.9,1,1,False,1,male

In [69]:
# peoples rejected loan decision
loan_decision_reject = loana[ loana ['loan_decision'] == 'reject']
loan_decision_reject

,married,race,loan_decision,occupancy,loan_amount,applicant_income,num_units,num_dependants,self_employed,monthly_income,purchase_price,liquid_assets,mortage_payment_history,consumer_credit_history,filed_bankruptcy,property_type,gender
0,True,white,reject,1,128,74,1.0,1.0,False,4583,160.0,52.0,2,2,False,2,male
11,True,white,reject,1,158,666,1.0,4.0,False,3036,210.0,188.0,2,6,True,1,male
26,False,white,reject,1,114,56,1.0,0.0,False,1853,120.0,14.0,2,1,False,2,male
33,False,black,reject,1,76,42,1.0,0.0,False,3510,80.0,8.0,2,6,False,2,female
35,True,white,reject,1,133,666,1.0,0.0,False,4887,118.0,63.0,2,1,False,2,male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1940,False,white,reject,1,88,68,1.0,0.0,False,2987,97.5,5.7,2,2,False,1,male
1946,False,white,reject,1,350,732,1.0,4.0,False,416,440.0,47.0,2,3,True,2,female
1951,True,white,reject,1,76,38,1.0,2.0,False,3132,80.0,10.0,2,2,True,2,male
1959,False,black,reject,1,152,79,1.0,0.0,False,4000,190.0,39.0,2,1,False,2,male
1987,False,black,reject,1,133,55,1.0,0.0,True,4583,148.0,24.5,2,3,False,2,female

In [70]:
print(f'the length of people approved loan decision : {len(loan_decision_approved)}\nthe length of people rejected loan decision : {len(loan_decision_reject)}')

the length of people approved loan decision : 1744
the length of people rejected loan decision : 244

In [72]:
# occupancy more than 1 occupancy
occupancy = loana[ loana ['occupancy'] > 1]
occupancy

,married,race,loan_decision,occupancy,loan_amount,applicant_income,num_units,num_dependants,self_employed,monthly_income,purchase_price,liquid_assets,mortage_payment_history,consumer_credit_history,filed_bankruptcy,property_type,gender
16,True,white,approve,2,114,98,1.0,1.0,False,5438,170.0,36.00,1,1,False,1,male
53,True,white,reject,2,147,54,1.0,2.0,False,3881,165.0,34.00,2,5,False,2,male
76,False,white,approve,2,130,27,2.0,0.0,False,3125,155.0,25.00,2,1,False,3,male
111,False,white,approve,2,184,50,1.0,0.0,False,4166,230.0,50.00,1,1,False,1,male
135,True,white,approve,2,44,68,1.0,1.0,False,5649,55.0,3.00,1,1,False,2,male
144,True,white,approve,2,137,253,1.0,0.0,True,21117,171.0,429.00,1,1,False,1,male
147,False,white,approve,2,70,30,2.0,0.0,True,2656,90.0,0.00,1,1,False,3,male
205,True,white,approve,2,185,137,2.0,2.0,False,7350,264.0,325.00,2,1,False,3,male
222,True,white,reject,2,258,124,1.0,0.0,False,5726,287.0,65.00,2,2,False,2,male
331,True,white,approve,2,115,50,2.0,0.0,False,4188,215.0,140.00,2,1,False,3,male
333,False,white,approve,2,240,72,1.0,0.0,False,8567,300.0,188.00,1,1,False,1,male
410,False,white,reject,2,50,43,1.0,0.0,True,6356,75.0,40.00,2,4,False,2,male
420,True,white,approve,2,150,110,2.0,2.0,True,4767,210.0,119.00,2,2,False,3,male
448,True,white,reject,2,160,172,1.0,1.0,True,10513,193.0,527.00,1,1,True,2,male
449,True,white,approve,2,102,152,1.0,2.0,False,4635,312.0,258.00,1,1,False,2,male
523,True,white,approve,2,186,264,1.0,1.0,True,19420,275.0,534.00,2,1,False,1,male
542,True,white,approve,2,200,95,2.0,0.0,False,2917,170.0,53.00,1,3,True,2,male
569,True,white,approve,2,75,113,1.0,0.0,False,9323,140.0,154.10,1,2,False,2,male
605,True,white,approve,2,101,47,1.0,2.0,False,2045,145.0,1.00,1,2,False,2,male
609,True,white,approve,2,114,88,1.0,1.0,False,3180,142.0,162.00,1,1,False,1,male
633,True,white,approve,2,73,55,1.0,0.0,False,4600,113.0,69.00,1,1,False,1,male
687,True,white,approve,2,152,234,2.0,3.0,False,19500,190.0,159.00,1,2,False,3,male
720,True,white,approve,2,108,44,1.0,3.0,False,3570,120.0,6.00,2,1,False,2,male
724,True,white,approve,2,110,50,1.0,0.0,True,2500,150.0,150.00,1,1,False,2,male
728,True,white,approve,2,400,159,1.0,3.0,False,13371,474.0,1000000.00,2,1,False,2,male
791,True,white,reject,3,260,131,1.0,2.0,True,10890,200.0,152.00,1,2,False,2,male
808,True,white,approve,2,123,96,1.0,0.0,False,3406,154.0,35.00,1,1,False,2,male
811,True,white,approve,2,112,117,1.0,2.0,False,9703,125.0,229.00,1,1,False,1,male
865,False,white,approve,3,134,51,1.0,0.0,False,2060,181.0,23.00,2,2,False,2,male
919,True,white,reject,2,85,261,1.0,0.0,False,20667,109.0,108.00,2,1,False,1,male
1026,True,white,approve,2,151,120,1.0,2.0,True,15771,188.0,145.00,1,1,False,2,male
1047,True,white,reject,2,155,120,2.0,1.0,True,10000,180.0,30.00,3,2,False,3,male
1191,False,white,approve,2,55,189,1.0,0.0,True,15759,55.0,171.00,1,1,False,1,female
1201,True,white,approve,2,145,57,1.0,0.0,False,2333,245.0,118.00,1,1,False,2,male
1247,True,white,approve,2,125,54,3.0,0.0,False,5488,178.0,39.00,1,1,False,3,male
1275,False,black,approve,3,120,65,1.0,0.0,False,5317,150.0,72.92,2,1,False,2,female
1385,True,white,approve,3,92,70,1.0,0.0,False,2733,149.0,16.00,2,2,False,2,male
1447,True,white,approve,2,49,70,1.0,2.0,False,5833,75.0,38.00,2,2,False,2,male
1464,True,white,reject,2,173,75,1.0,0.0,False,3708,200.0,14.00,2,5,False,2,male
1482,False,white,approve,2,240,270,1.0,1.0,False,24797,300.0,2369.00,1,1,False,1,male
1498,True,white,approve,2,110,201,1.0,0.0,False,16692,137.0,89.00,1,2,False,1,female
1524,True,white,approve,2,150,198,4.0,2.0,True,16525,214.0,249.00,1,1,False,3,male
1547,False,white,approve,2,110,68,1.0,0.0,False,5769,160.0,137.00,1,1,False,2,female
1559,True,white,approve,2,186,78,2.0,1.0,False,5333,232.0,214.00,1,1,False,3,male
1564,True,white,approve,2,175,84,1.0,1.0,True,6500,185.0,1000000.00,1,2,False,2,male
1579,False,white,approve,2,225,19,3.0,0.0,True,17263,310.0,141.00,1,1,False,3,female
1597,True,white,approve,2,95,36,1.0,1.0,True,2895,135.0,1000000.00,2,1,False,2,male
1600,False,white,approve,2,113,52,1.0,0.0,False,645,159.0,72.00,1,4,False,1,female
1631,False,black,approve,2,40,13,1.0,1.0,False,13262,65.0,99.00,2,2,False,1,female
1653,True,white,approve,2,40,60,2.0,2.0,False,5073,270.0,35.74,2,5,False,3,male
1659,True,white,approve,2,252,396,1.0,3.0,True,33000,275.0,338.00,1,1,False,2,male
1701,False,white,approve,3,40,57,1.0,0.0,False,1625,70.0,137.00,2,2,False,1,male
1765,False,white,reject,3,80,40,1.0,0.0,False,3358,100.0,26.00,2,1,False,2,male
1807,True,white,approve,2,100,60,1.0,1.0,False,4702,128.0,74.90,1,1,False,2,male
1876,True,white,reject,2,133,60,3.0,0.0,False,3391,165.0,39.00,1,6,False,3,male
1881,True,white,approve,2,96,120,1.0,2.0,True,15771,138.0,135.00,1,1,False,2,male
1985,True,white,approve,2,225,49,2.0,0.0,True,4159,225.0,10.00,2,1,False,3,male

In [80]:
num_units = loana['num_units']
num_units

AttributeError: 'Series' object has no attribute 'unit'